<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%style{[%d{HH:mm:ss} - %t]}{cyan} %highlight{%-5p}{FATAL=red, ERROR=red,
            WARN=yellow, INFO=green, DEBUG=blue, TRACE=white} %style{%c{1.}}{magenta} - %m%n%throwable
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false" noConsoleNoAnsi="false"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <RollingFile name="InfoRollingFile" fileName="./logs/latest.log"
                     filePattern="./logs/info-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} - %t] %-5p %c{1.} - %m%n%throwable"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="DebugRollingFile" fileName="./logs/debug.log"
                     filePattern="./logs/debug-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} - %t] %-5p %c{1.} - %m%n%throwable"/>
            <Filters>
                <LevelRangeFilter minLevel="debug" maxLevel="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoRollingFile"/>
            <AppenderRef ref="DebugRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
